<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	#set ($address = "address")
	<b>Hello $person please find the details requested below !</b>
	<br>
	<img alt="" src="http://www.apache.org/images/feather.gif">
	<table border="1">
		#foreach($obj in $map.keySet())
		#if($obj==$address)
		#if(!$objectUtils.equals($map[$obj],null))
		#if($utils.isNotEmpty($map[$obj].name))
		<tr>
			<td>Deivery Contact Person</td>
			<td>$map[$obj].name
		</tr>
		#end
		#if($utils.isNotEmpty($map[$obj].addressLine1))
		<tr>
			<td>Address Line1</td>
			<td>$map[$obj].addressLine1
		</tr>
		#end
		#if($utils.isNotEmpty($map[$obj].addressLine2))
		<tr>
			<td>Address Line2</td>
			<td>$map[$obj].addressLine2
		</tr>
		#end
		#if($utils.isNotEmpty($map[$obj].addressLine3))
		<tr>
			<td>Address Line3</td>
			<td>$map[$obj].addressLine3
		</tr>
		#end
		#end
		#else
		#if($utils.isNotEmpty($map[$obj]))
		<tr>
			<td>$obj</td>
			<td>$map[$obj]</td>
		</tr>
		#end
		 #end 
		 #end
	</table>
</body>
</html>