
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff2') format('woff2'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


ul.resp-tabs-list {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
 color: #3369E8;
  font-size: 14px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
font-family: 'Lato';
}

.resp-tabs-container {
  padding: 0px;

  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  
}

.resp-tab-active {

  border-bottom: none;

  padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
  border-bottom: none;
  
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #5c1544;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
  background: #712156;
  color: #fff;
  font-size: 14px;float: left;
width: 100%;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 22%;
  background: #f1f1f1;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 10px 35px !important;
  margin: 0;
  cursor: pointer;
  float: left;
  width: 100%;border-left: 1px solid #fff;

border-bottom: 1px solid #fff;
}
.resp-vtabs .resp-tabs-list li:hover{background-color: #fff;
color: #333;}
.resp-vtabs .resp-tabs-container {
  padding: 0px;
  float: left;
  width: 78%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
  padding-left:30px; padding-right:30px;
padding-top: 30px; background: #fff;padding-bottom: 15px;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index:0;
  float: left;
  width:100%;
background-color: #fff;
color:#333;
  border-left: 5px solid #fff;
  padding: 10px 30px !important;

  background-repeat: no-repeat;
background-position: 95% 50%;
background-size: 30px;

}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fecd41;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fecd41;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #5c1544 !important; color: #fff; font-size: 14px; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #5c1544; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #5c1544 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #5c1544 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #5c1544; float: left; padding: 15px; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #5c1544 !important; }
}
@media screen and (max-width:1199px) and (min-width:992px){
    .resp-vtabs .resp-tabs-list li{ padding: 10px 15px !important;}
    .acunt-detail .myacunt{padding: 10px 10px;}
    .acunt-detail .myacunt .myacnt-img,.acunt-detail .acnt-img{left: 15px;}
    .acunt-detail .acunt-login{padding-left: 80px;}
}
@media screen and (max-width:991px) and (min-width:768px){
.resp-vtabs .resp-tabs-container{width: 73%;}
.resp-vtabs ul.resp-tabs-list{ width: 27%;}
.resp-vtabs .resp-tabs-list li{ padding: 10px 15px !important;}
    .acunt-detail .myacunt{padding: 10px 10px;}
    .acunt-detail .myacunt .myacnt-img,.acunt-detail .acnt-img{left: 15px;}
    .acunt-detail .acunt-login{padding-left: 80px;}
    .resp-vtabs .resp-tabs-container{padding-left: 20px;
padding-top: 20px;}
    .mt-units{margin-left: 15px;}
    .edit-testimonial{width: 95% !important;}
}
@media screen and (max-width:767px){
    ul.testimonial-tab{display: block !important;}
    .resp-vtabs ul.testimonial-tab{ width: 100%;}
    .resp-vtabs .testimonial-tab li{ display: none;}
    .resp-vtabs .resp-tabs-container{float: left; padding: 0px;}
    .resp-vtabs ul.resp-tabs-list{ padding: 0px;}
    .acunt-detail{margin-top: 10px;}
}
.fa-hand-o-right{ float: right; visibility: hidden;}
.resp-vtabs li.resp-tab-active .fa-hand-o-right{ visibility: visible;
position: relative;
top: 3px;
right: -10px;
font-size: 15px; color: #3369E8;}